@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Open+Sans:300,300i,400,600i,700,700i,800,800i");
@import url("https://fonts.googleapis.com/css?family=Adamina|Source+Code+Pro");
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem); }
  80% {
    transform: translateX(0.3rem); }
  100% {
    opacity: 100;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(3rem); }
  80% {
    transform: translateX(-0.3rem); }
  100% {
    opacity: 100;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 100;
    transform: translate(0); } }

/* line 1, scss/base/_base.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* line 9, scss/base/_base.scss */
html {
  font-size: 62.5%; }

/* line 13, scss/base/_base.scss */
body {
  padding: 2.08rem;
  box-sizing: border-box; }

/* line 18, scss/base/_base.scss */
#home-header__right-button {
  margin-left: 8rem; }

/* line 22, scss/base/_base.scss */
#home-header__left-button {
  margin-right: 8rem; }

/* line 4, scss/base/_typography.scss */
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7; }

/* line 10, scss/base/_typography.scss */
.primary-header {
  color: #FDFDFD;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem; }
  /* line 16, scss/base/_typography.scss */
  .primary-header--main {
    display: block;
    font-size: 7rem;
    font-weight: 300;
    letter-spacing: 1.3rem;
    animation: moveInLeft 0.7s ease-out; }
  /* line 24, scss/base/_typography.scss */
  .primary-header--sub {
    display: block;
    font-size: 2.86rem;
    font-weight: 500;
    letter-spacing: .59rem;
    animation: moveInRight 0.7s ease-out;
    margin-top: 1rem; }
  /* line 33, scss/base/_typography.scss */
  .primary-header--solo {
    display: block;
    font-size: 8rem;
    font-weight: 300;
    letter-spacing: 3.3rem; }

/* line 94, scss/base/_typography.scss */
.article-body {
  width: 100%; }
  /* line 97, scss/base/_typography.scss */
  .article-body__paragraph {
    font-size: 1.8rem;
    width: 70rem;
    margin: 1rem; }

/* line 104, scss/base/_typography.scss */
.rect-title {
  text-align: center; }
  /* line 107, scss/base/_typography.scss */
  .rect-title__home-title {
    width: 52vw;
    background: linear-gradient(to right, #ce1848, #a01238);
    color: #FDFDFD;
    position: relative;
    top: -108rem;
    left: 8rem;
    font-size: 9rem;
    letter-spacing: 4.3rem;
    padding: 0 0 0 2rem;
    border: solid 1px #5c0b20; }

/* line 2, scss/base/_utilities.scss */
.u-flex-align--end {
  align-self: flex-end; }

/* line 1, scss/layout/_header.scss */
.page-header {
  background-size: cover; }
  /* line 3, scss/layout/_header.scss */
  .page-header__large {
    clip-path: polygon(0 25rem, 75rem 0rem, 100% 0, 100% 35%, 0 100%);
    background-image: url(../assets/photographs/meet-the-team-no-text.jpg);
    height: 120vh;
    background-position: -58rem -6rem; }
  /* line 9, scss/layout/_header.scss */
  .page-header__small {
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
    height: 17vh; }
    /* line 11, scss/layout/_header.scss */
    .page-header__small--green {
      background-image: linear-gradient(#38ada9, #38ada9); }
  /* line 17, scss/layout/_header.scss */
  .page-header__upper-triangle {
    height: 100%;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%); }
    /* line 22, scss/layout/_header.scss */
    .page-header__upper-triangle--red {
      background-image: linear-gradient(to right bottom, rgba(235, 47, 6, 0.7), rgba(235, 47, 6, 0.7)); }
    /* line 28, scss/layout/_header.scss */
    .page-header__upper-triangle--green {
      background-image: linear-gradient(to right bottom, rgba(56, 173, 169, 0.7), rgba(56, 173, 169, 0.7)); }
  /* line 37, scss/layout/_header.scss */
  .page-header__lower-triangle {
    height: 100%;
    z-index: 1;
    clip-path: polygon(0 100%, 100% 100%, 100% 0%, 0 100%);
    position: relative;
    bottom: 100%; }
    /* line 43, scss/layout/_header.scss */
    .page-header__lower-triangle--red {
      background-image: linear-gradient(to right bottom, rgba(183, 21, 64, 0.7), rgba(183, 21, 64, 0.7)); }
    /* line 49, scss/layout/_header.scss */
    .page-header__lower-triangle--green {
      background-image: linear-gradient(to right bottom, rgba(7, 153, 146, 0.7), rgba(7, 153, 146, 0.7)); }
  /* line 58, scss/layout/_header.scss */
  .page-header__text-box {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2; }
    /* line 65, scss/layout/_header.scss */
    .page-header__text-box--first-page {
      top: 20%; }
    /* line 68, scss/layout/_header.scss */
    .page-header__text-box--second-page {
      top: 11%; }

/* line 1, scss/layout/_grid.scss */
.grid {
  display: grid;
  margin: 2rem auto; }
  /* line 5, scss/layout/_grid.scss */
  .grid--three-by-two {
    grid-template: 60rem 60rem 60rem / 50% 50%; }
  /* line 9, scss/layout/_grid.scss */
  .grid--fullpage {
    width: 95vw; }

/* line 3, scss/layout/_flex.scss */
.flex-container--inline {
  display: inline-flex; }

/* line 7, scss/layout/_flex.scss */
.flex-container--block {
  display: flex; }

/* line 11, scss/layout/_flex.scss */
.flex-container--col {
  vertical-align: top;
  flex-direction: column; }

/* line 16, scss/layout/_flex.scss */
.flex-container--row {
  flex-direction: row; }

/* line 20, scss/layout/_flex.scss */
.flex-container--space-between {
  justify-content: space-between; }

/* line 1, scss/layout/_footer.scss */
.bottom-border {
  margin: 1rem 0 0 0;
  height: 5rem;
  width: 100%;
  clip-path: polygon(0 60%, 100% 0%, 100% 98%, 0 100%); }
  /* line 5, scss/layout/_footer.scss */
  .bottom-border--red {
    background-color: #e55039; }
  /* line 8, scss/layout/_footer.scss */
  .bottom-border--green {
    background-color: #38ada9; }

/* line 1, scss/layout/_hr.scss */
.horizontal-hr {
  width: 40%;
  margin: 0 auto;
  border: none; }
  /* line 6, scss/layout/_hr.scss */
  .horizontal-hr--thin {
    border-top: white solid 1px; }
  /* line 10, scss/layout/_hr.scss */
  .horizontal-hr--thick {
    border-top: white solid 3px; }

/* line 1, scss/layout/_background.scss */
.background {
  position: absolute;
  z-index: -1;
  height: 180rem;
  width: 95.1vw;
  top: 20.2rem;
  left: 4rem;
  border: solid #e2f6d3 1px; }
  /* line 9, scss/layout/_background.scss */
  .background--gray {
    background-color: #f4fdf6; }

/* line 1, scss/components/_round-portrait.scss */
[class*="round-portrait"] {
  display: inline-block;
  border: #e55039 solid 1.2rem;
  border-radius: 100%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  margin: 4rem 2rem; }

/* line 1, scss/components/_aside.scss */
.aside {
  display: inline-block;
  list-style: none;
  color: #FDFDFD; }
  /* line 6, scss/components/_aside.scss */
  .aside--short {
    height: 36rem;
    width: 39rem;
    line-height: 3.4rem; }
  /* line 12, scss/components/_aside.scss */
  .aside--dark-yellow {
    background: linear-gradient(to bottom right, #b71540, #891030); }
  /* line 16, scss/components/_aside.scss */
  .aside__ul {
    padding: 1.5rem 2.5rem; }
  /* line 20, scss/components/_aside.scss */
  .aside li {
    list-style: none;
    padding: 0.7rem;
    font-size: 1.6rem; }

/* line 1, scss/components/_main-article.scss */
.main-article {
  width: 77%; }

/* line 1, scss/components/_grid-el.scss */
.grid-el {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; }
  /* line 7, scss/components/_grid-el.scss */
  .grid-el__label {
    font-family: 'Adamina', serif;
    display: block;
    height: 12rem;
    color: #b8e994;
    font-size: 4.1rem;
    position: relative;
    top: 3rem; }
    /* line 16, scss/components/_grid-el.scss */
    .grid-el__label--left {
      right: 15rem; }
    /* line 20, scss/components/_grid-el.scss */
    .grid-el__label--right {
      left: 15rem; }
    /* line 24, scss/components/_grid-el.scss */
    .grid-el__label__upper-triangle {
      height: 100%;
      z-index: 1;
      clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%); }
      /* line 28, scss/components/_grid-el.scss */
      .grid-el__label__upper-triangle--green {
        background-image: linear-gradient(to right bottom, rgba(184, 233, 148, 0.7), rgba(184, 233, 148, 0.7)); }
    /* line 36, scss/components/_grid-el.scss */
    .grid-el__label__lower-triangle {
      height: 100%;
      z-index: 1;
      clip-path: polygon(0 100%, 100% 100%, 100% 0%, 0 100%);
      position: relative;
      bottom: 100%; }
      /* line 40, scss/components/_grid-el.scss */
      .grid-el__label__lower-triangle--green {
        background-image: linear-gradient(to right bottom, rgba(120, 224, 143, 0.7), rgba(120, 224, 143, 0.7)); }
    /* line 50, scss/components/_grid-el.scss */
    .grid-el__label__textbox {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 3;
      letter-spacing: 1.5rem;
      background: linear-gradient(#38ada9, #079992);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }
  /* line 66, scss/components/_grid-el.scss */
  .grid-el__text {
    font-size: 2.3rem;
    margin: 8rem 3rem;
    color: #056863; }
  /* line 72, scss/components/_grid-el.scss */
  .grid-el--david {
    background-image: url(../assets/photographs/david.png);
    background-position: 0rem -8rem; }
  /* line 77, scss/components/_grid-el.scss */
  .grid-el--chance {
    background-image: url(../assets/photographs/christian.jpg);
    background-position: 0rem -13rem; }
  /* line 82, scss/components/_grid-el.scss */
  .grid-el--dan {
    background-image: url(../assets/photographs/dan.jpg); }
  /* line 86, scss/components/_grid-el.scss */
  .grid-el--kayla {
    background-image: url(../assets/photographs/kayla.png); }
  /* line 90, scss/components/_grid-el.scss */
  .grid-el--thomas {
    background-image: url(../assets/photographs/thomas.png); }
  /* line 94, scss/components/_grid-el.scss */
  .grid-el--greg {
    background-image: url(../assets/photographs/greg.jpg); }
  /* line 98, scss/components/_grid-el.scss */
  .grid-el--matt {
    background-image: url(../assets/photographs/Matt.png);
    background-position: 0 -29rem; }
  /* line 103, scss/components/_grid-el.scss */
  .grid-el--angela {
    background-image: url(../assets/photographs/angela.png); }
  /* line 107, scss/components/_grid-el.scss */
  .grid-el--cokie {
    background-image: url(../assets/photographs/cokie.jpg);
    background-position: 0 -18rem; }

/* line 1, scss/pages/_page-one.scss */
.page-one {
  margin: -4rem 0 4rem 0; }
  /* line 4, scss/pages/_page-one.scss */
  .page-one__round-portrait {
    height: 36rem;
    width: 36rem;
    background-image: url(../assets/photographs/david.png);
    background-size: cover;
    background-position: top;
    position: relative;
    top: 8rem; }
