.flex-container {

    &--inline {
        display: inline-flex;
    }

    &--block { 
        display: flex;
    }
    
    &--col {
        vertical-align: top;
        flex-direction: column;
    }
    
    &--row {
        flex-direction: row;
    }

    &--space-between {
        justify-content: space-between;
    }
}
//