.page-header {
    background-size: cover;
    clip-path: polygon(0 22%, 50% 0, 100% 0, 100% 35%, 0 100%);
    z-index: -3;
    left: 0;
    top: 0rem;
    position: absolute;
    right: 0;
    &__large {
        clip-path: polygon(0 17%, 50% 0, 100% 0, 100% 50%, 0 100%);
        background-image: url(../assets/photographs/meet-the-team-no-text.jpg);
        height: 78vh;
        background-position: -54rem -1rem;
    };
    &__small {
        clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
        &--green {
            background-image: linear-gradient($dark-green, $dark-green);
        }
        height: 17vh;
    }

    &__upper-triangle{
        height: 100%;
        z-index: 1;
        clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);

        // &--red {
        //     background-image: linear-gradient(
        //     to right bottom, 
        //     rgba($dark-red, 0.7),
        //     rgba($dark-red, 0.7));
        // };
        &--green {
            background-image: linear-gradient(
            to right bottom, 
            rgba($dark-green, 0.7),
            rgba($dark-green, 0.7));
        };
    }
    //

    &__lower-triangle{
        height: 100%;
        z-index: 1;
        clip-path: polygon(0 100%, 100% 100%, 100% 0%, 0 100%);
        position: relative;
        bottom: 100%;
        // &--red {
        //     background-image: linear-gradient(
        //     to right bottom, 
        //     rgba($soaked-red, 0.7),
        //     rgba($soaked-red, 0.7));
        // };
        &--green {
            background-image: linear-gradient(
            to right bottom, 
            rgba($soaked-green, 0.7),
            rgba($soaked-green, 0.7));
        };
    }
    

    &__text-box{
        position: absolute;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%); 
        text-align: center;
        z-index: 2;
        &--first-page {
            top: 20%;
        };
        &--second-page {
            top: 11%;
        };
    }
}
//