.grid-el {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    &__label {
        font-family: 'Adamina', serif;
        display: block;
        height: 12rem;
        color: $light-green;
        font-size: 4.1rem;
        position: relative;
        top: 3rem;

        &--left {
            right: 15rem;
        }
//
        &--right {
            left: 15rem;
        }

        &__upper-triangle {
            height: 100%;
            z-index: 1;
            clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
            &--green {
                background-image: linear-gradient(
                to right bottom, 
                rgba($light-green, 0.7),
                rgba($light-green, 0.7));
            }   
        }

        &__lower-triangle {
            height: 100%;
            z-index: 1;
            clip-path: polygon(0 100%, 100% 100%, 100% 0%, 0 100%);
            &--green {
                background-image: linear-gradient(
                to right bottom, 
                rgba($green, 0.7),
                rgba($green, 0.7));
            }
            position: relative;
            bottom: 100%;
        }

        &__textbox {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            transform: translate(-50%, -50%); 
            text-align: center;
            z-index: 3;
            letter-spacing: 1.5rem;
            background: linear-gradient($dark-green, $soaked-green);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    }

    &__text {
        font-size: 2.3rem;
        margin: 8rem 3rem;
        color: darken($soaked-green, 10%);
    }

    &--david {
        background-image: url(../assets/photographs/david.png);
        background-position: 0rem -8rem;
    };

    &--chance {
        background-image: url(../assets/photographs/christian.jpg);
        background-position: 0rem -13rem;
    };

    &--dan {
        background-image: url(../assets/photographs/dan.jpg);
    }

    &--kayla {
        background-image: url(../assets/photographs/kayla.png);
    };

    &--thomas {
        background-image: url(../assets/photographs/thomas.png);
    };

    &--greg {
        background-image: url(../assets/photographs/greg.jpg);
    }

    &--matt {
        background-image: url(../assets/photographs/Matt.png);
        background-position: 0 -29rem;
    };

    &--angela {
        background-image: url(../assets/photographs/angela.png);
    }

    &--cokie {
        background-image: url(../assets/photographs/cokie.jpg);
        background-position: 0 -18rem;
    }
}

//