
//COLORS
$light-yellow: #fad390;
$yellow: #f6b93b;
$dark-yellow: #fa983a;
$soaked-yellow: #e58e26;
$light-red: #f8c291;
$red: #e55039;
$dark-red: #eb2f06;
$soaked-red: #b71540;
$light-navy-blue: #6a89cc;
$navy-blue: #4a69bd;
$dark-navy-blue: #1e3799;
$soaked-navy-blue: #0c2461;
$light-blue: #82ccdd;
$dark-blue: #60a3bc;
$dark-blue: #3c6382;
$soaked-blue: #0a3d62;
$light-green: #b8e994;
$green: #78e08f;
$dark-green: #38ada9;
$soaked-green: #079992;
$white: #FDFDFD;


//GRID
$row-width: 90vw;
$gutter-horizontal: 6rem;
$gutter-vertical: 4rem;